.line {
  position: absolute;
  top: 195px;
  left: 60.03px;
  background-color: var(--color-aliceblue);
  width: 250.14px;
  height: 1px;
}
.icon,
.icon1,
.icon2,
.icon3 {
  position: absolute;
  height: 9.49%;
  width: 7.7%;
  top: 83.52%;
  right: 92.3%;
  bottom: 6.99%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon1,
.icon2,
.icon3 {
  top: 57.95%;
  bottom: 32.56%;
}
.icon2,
.icon3 {
  top: 32.95%;
  bottom: 57.56%;
}
.icon3 {
  top: 8.52%;
  bottom: 81.99%;
}
.easyToTrack {
  margin: 0;
}
.easyToTrackContainer {
  position: absolute;
  top: 0;
  left: 30.02px;
  line-height: 44px;
  font-weight: 600;
  display: inline-block;
  width: 174.1px;
}
.chackMark {
  position: absolute;
  top: 223px;
  left: 60.03px;
  width: 204.11px;
  height: 176px;
}
.analyzeNow {
  position: relative;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 107.06px;
}
.button,
.icon4 {
  position: absolute;
}
.button {
  top: 436px;
  left: 50.03px;
  border-radius: var(--br-11xl);
  background-color: var(--color-mediumslateblue-400);
  width: 250.14px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-mediumslateblue-100);
}
.icon4 {
  height: 9.26%;
  width: 15.72%;
  top: 7.34%;
  right: 70.41%;
  bottom: 83.4%;
  left: 13.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.customizedAnythingIn,
.forTeam {
  position: absolute;
  left: 60.03px;
  line-height: 14px;
  display: inline-block;
}
.forTeam {
  top: 116px;
  font-size: var(--font-size-3xl);
  color: var(--color-midnightblue-100);
  width: 97.05px;
}
.customizedAnythingIn {
  top: 146px;
  width: 210.12px;
}
.pricing03 {
  position: absolute;
  top: 395px;
  left: 1107.61px;
  border-radius: var(--br-xl);
  background-color: var(--white);
  box-shadow: 0 1px 3px rgba(18, 20, 32, 0.14);
  width: 370.21px;
  height: 536px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-100);
  font-family: var(--font-plus-jakarta-sans);
}
