.buttonIcon,
.icon {
  position: absolute;
  top: 229px;
  left: 45px;
  width: 44px;
  height: 44px;
}
.icon {
  height: 14.38%;
  width: 12.43%;
  top: 15.63%;
  right: 75.68%;
  bottom: 70%;
  left: 11.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.aiDataAnalysis {
  position: relative;
  line-height: 31px;
}
.loremIpsumIs {
  margin: 0;
}
.loremIpsumIsContainer {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-dimgray-100);
}
.item01,
.text {
  position: absolute;
}
.text {
  top: 117px;
  left: 44px;
  width: 257px;
  height: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.item01 {
  top: 158px;
  left: 0;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-aliceblue);
  box-sizing: border-box;
  width: 370px;
  height: 320px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-midnightblue-100);
  font-family: var(--font-plus-jakarta-sans);
}
